#container {
  background-color: #b5f7b9;
  display: flex;
  width: 500px;
  margin: 0 auto;
  border: 25px dotted #ffee00;
}
#moviePoster {
  display: flex;
  flex-direction: column;
}
#movieReview {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.rating span {
  color: grey;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
}
.rating .filled {
  color: #ffee00;
}
